<!DOCTYPE html>
<html>
    <head>
        <title>
            Fly 
        </title>
    </head>
    <h1>
        Dream Builder
    </h1>
    <p>
        Dream with Your Hands to Build Reality
    </p>
    <body>
        <table>
            <tr>
                <th>
                    Browse Patterns
                </th>
                <th>
                    Add a Pattern
                </th>
            </tr>
            <tr>
                <td>
                    Discover the next tool to end up in you box.
                </td>
                <td>
                    Share your knowledge and make some money.
                </td>
            </tr>
        </table>
        
    </body>

    <footer>
        <p>
            Tight Lines. 
        </p>
        <p>
            To learn more about the company's foundation click <%= link_to 'Here', about_path %>
        </p>
    </footer>
</html>